@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
}
a {
  text-decoration: transparent;
  color: inherit
}
body {
  color: #000;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/background1.jpeg')
}
.text-center {
  text-align: center;
}
.bg-red {
  background: red;
}
.bg-white {
  background: #fff
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  display: block;
}
img {
  max-width: 100%;
}
.btn {
  border: 0;
  padding: 10px;
  width: 175px;
  color: #fff;
  font-family: 'Open Sans';
  cursor: pointer;
}
.btn-primary {
  background: red;
}
.btn-secondary {
  background: #ec6b12
}
.nav {
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.08);
}
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1em 0;
}
.site-auth {
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.container{
  max-width: 1260px;
  margin: 0 auto;
}
.body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
  margin: 4em 0;
  grid-auto-rows: minmax(30px,auto);
}
.meal-manage {
  display: grid;
  grid-template-columns : 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 30px;
  padding: 15px;
}
.fas {
  color: #ec6b12;
  font-size: 16px;
}
.body-header {
  grid-column: 1/5;
  padding: .5em;
  color: #fff;
}
.restaurants-list,.menu-list   {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4,2fr);
  grid-gap: 1em;
  padding: 20px;

}
.order-summary {
  background: #fff;
  margin-top: 4em;
  padding: 1em;
}
.order-list {
  grid-column: 2/3;
  padding: 20px;
}
.order {
  margin-top: 20px;
}
.restaurants, .menu {
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.15);
}
.restaurant-title, .menu-title {
  padding: .6em;
  text-align: center;
}
.cart {
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.15);
  height: 200px;
}
.cart-header {
  padding: .5em;
  height: 33px;
  color: #fff;
}
.auth-form {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-35%,-35%);
  background: #fff;
}
.form-control {
  display: block;
  padding: .9em;
  border: 1px solid #ccc;
  font-family: 'Open Sans';
}
.form-header {
  color: #fff;
  padding: 1em;
}
.form-body {
  display: grid;
  grid-gap: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}
.fas {
  padding-right: 10px;
}
/* hover classes */
.menu:hover {
  border: 1px solid red;
}
/* modal */
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.order-modal-body {
  display: grid;
  grid-template-columns: 2fr 3fr
}

.color-success {
  color: #0ece28 !important;
}