@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
}
body {
  color: #000;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/background1.jpeg')
}
.text-center {
  text-align: center;
}
.bg-red {
  background: red;
}
.bg-white {
  background: #fff
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  display: block;
}
img {
  max-width: 100%;
}
.nav {
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.08);
}
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1em 0;
}
.site-auth {
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr 1fr;
}
.container{
  max-width: 1260px;
  margin: 0 auto;
}
.body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
  margin: 4em 0;
  grid-auto-rows: minmax(30px,auto);
}
.body-header {
  grid-column: 1/5;
  padding: .5em;
  color: #fff;
}
.restaurants-list,.menu-list   {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4,2fr);
  grid-gap: 1em;
  padding: 20px;

}
.restaurants, .menu {
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.15);
}
.restaurant-title, .menu-title {
  padding: .6em;
  text-align: center;
}
.cart {
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.15);
  height: 200px;
}
.cart-header {
  padding: .5em;
  height: 33px;
  color: #fff;
}
.btn {
  border: 0;
  padding: 10px;
  width: 100px;
  color: #fff;
  font-family: 'Open Sans';
}
.btn-primary {
  background: red;
}
.auth-form {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-35%,-35%);
  background: #fff;
}
.form-control {
  display: block;
  padding: .9em;
  border: 1px solid #ccc;
  font-family: 'Open Sans';
}
.form-header {
  color: #fff;
  padding: 1em;
}
.form-body {
  display: grid;
  grid-gap: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}
/* hover classes */
.menu:hover {
  border: 1px solid red;
}